project:
  type: website
  output-dir: docs

website:
  title: "Residuals"
  navbar:
    left:
      - href: index.qmd
        text: "Observatory"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

